.intro_wrapper {
	margin-top: 60px;
	display: flex;

	max-width: 1200px;

	.intro_wrapper_paraph {
		display: flex;
		flex-wrap: wrap;
		width: 533px;
		height: 113px;
		color: #cbd3e9;
		font-size: 32px;
		font-style: normal;
		font-weight: 300;
		margin-bottom: 182px;
		//line-height: 56px;

		text-align: justify;
		padding: 20px;
		span {
			color: var(--blue-dark, #011a6c);

			font-size: 32px;
			font-style: normal;
			font-weight: 800;
			//line-height: 56px; /* 133.333% */
		}
	}
}
.wrapperFirst {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: -130px;
}
.IntroLinkWrapperLast {
	margin-top: 50px;
}
.IntroWrappersParagraph {
	img {
		margin-left: 23px;
	}
	display: flex;
	color: var(--color-gray);
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 34px; /* 188.889% */
}
.wrapperSecond {
	display: flex;
}
.wrapperBlock {
	padding-top: 33px;
	padding-left: 45px;
	position: relative;
	width: 355px;
	box-shadow: 5px 5px 10px #adabab;
	margin-bottom: 20px;
}
.BlockImg {
	//vertical-align: top;
	//position: absolute;
}
.BlockWrapp {
	position: absolute;
	top: 50%;
	display: flex;
	flex-direction: row;
	align-items: flex-end;

	color: #424242;

	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 130%; /* 14.848px */
	text-transform: uppercase;
}
.BlockUnderTitle {
	color: var(--color-gray);

	.BlockPrice {
		color: #424242;
		font-size: 42px;
		font-style: normal;
		font-weight: 250;
		line-height: 92.8%; /* 35.264px */
		text-transform: uppercase;
	}

	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	border-bottom: 1px solid var(--color-gray);
	width: 50px;
	//border-height: 20px;
}
.BlockTitle {
	-webkit-text-stroke: 1px #fcfcfc;
	text-stroke: 1px #fcfcfc;
	text-shadow: -1px -1px 0 #fcfcfc, 1px -1px 0 #fcfcfc -1px 1px 0 #fcfcfc,
		1px 1px 0 #fcfcfc;
	width: 198px;
	height: 66px;
	color: var(--color-blue-dark);

	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.block_fly {
	position: relative;
	//background-color: #664f4f;
	width: 435px;
	height: 315px;
	border-radius: 10px;
	background: #fcfcfc;
	flex-shrink: 0;
}
.btns {
	top: 86%;
	left: 35px;
	position: absolute;
}

.btnblue {
	background-color: #dfe3f0;
	border-radius: 100%;
	width: 10px;
	height: 10px;
	margin: 5px;
	transition: all 0.5s ease-in-out;
	&:hover {
		background-color: var(--color-blue-dark);
	}
}
