:root {
	--color-red: #e15959;
	--color-green: #48d480;
	--color-graymedium: #c1c9db;
	--color-gray-text: #424242;
	--color-blue-light: #3f89dc;
	--color-blue-dark: #011a6c;
	--color-gray-dark: #606675;
	--color-gray: #8c98b7;
	--color-graylightborder: #edf0f5;
}
