.header_wrapper {
	max-width: 1200px;
	height: 39px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	.iSharlotka {
		display: block;
		width: auto;
		height: auto;
	}
	.shar_icon {
		display: flex;
		align-items: center;
		flex-direction: row;
	}
	.search {
		position: relative;
		width: 200px;
		margin-left: 30px;
		margin-right: 35px;
	}
	.imgInput {
		position: absolute;
		left: 165px;
		//padding: 10px 12px;
		pointer-events: none;
		top: 0.8rem;
	}

	.input {
		padding-left: 24px;
		width: 170px;
		padding: 11px 15px;
		outline: none;
		width: 198px;
		height: 38px;
		border-style: solid;
		border-radius: 5px;
		border-width: 2px;
		gap: 20px;
		border-color: var(--color-graylightborder);

		color: var(--color-gray);
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}
	button > span {
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		color: var(--color-gray);
	}
	.imgGroup {
		display: block;

		margin-left: 175px;
	}
	.imgGroup > img {
		cursor: pointer;
		margin-left: 3px;
		margin-right: 3px;
	}
	div > button {
		margin-left: 25px;
		//margin-: 189px;
	}
	div:last-of-type > button:last-of-type > span {
		font-size: 14px;
		cursor: pointer;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		border-bottom: 2px solid var(--color-gray);
	}

	.vector {
		width: 0.833px;
		height: 20.8px;
		margin-left: 9px;
		margin-right: 9px;
		background-color: var(--color-graylightborder);
	}
	.did {
		width: 134.867px;
		height: 20.8px;
		flex-shrink: 0;
		margin-right: 30px;
	}
	.first_text {
		display: inline-block;
		width: 160px;
		text-align: center;
		font-size: 12px;
		color: var(--color-gray);
	}
	.input {
		height: 39px;
		width: 198px;
	}
	//justify-content: space-between;
}
